.Headers{
    text-align: right;
    vertical-align: middle;
    margin: 20px;
    padding-top: 2px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    white-space: nowrap;
}

.Headers a {
    padding-right: 10px;
    color: black;
}

.Headers a:hover{
    color: black;
}

a[href="https://accounts.google.com/"] {
    color: white;
    background-color: #1a73e8;
    vertical-align: middle;
    font-size: small;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    box-sizing: border-box;
}

a[href="https://accounts.google.com/"]:hover {
    color: white;
}

#image{
    text-align: center;
    padding-top: 94px;
}

form {
    text-align: center;
    padding-top: 30px;
    background-color: transparent;
    color: rgb(0, 0, 0, .87);
    display: block;
}

input{
    color: black;
    text-align: start;
    background-color: transparent;
    vertical-align: middle;
    font-size: small;
    border-radius: 15px;
    border-color: transparent;
    width: 450px;
    border-image: none;
}

input:hover{
    box-shadow: 0px 2px rgb(216, 215, 215);

}